<div id="header_loggedin">
    <div id="navigation">
        <ul>
            <li>
                <a href="/"><img align="left" src="images/logo.png" alt="LOGO" height="55" width="117"></a>
            </li>
            <li>
                <a href="travel">Travel</a>
            </li>
            <li>
                <a href="news">News</a>
            </li>
            <li>
                <a href="signup">Sign Up</a>
            </li>
            <li>
                <a href="admin">Admin</a>
            </li>
            <li>
                <a href="checkout"><img align="center" src="images/shopping-cart.png" alt="CART" height="22" width="26"> Checkout</a>
            </li>
            <li>
                <a href="login"><img align="center" src="images/person.png" alt="CART" height="22" width="26"> Login</a>
            </li>
        </ul>
    </div>
</div>