<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
	<div id="home_background">
		<div id="page">
			{{> header_signup }}
			<div id="main">
				<h1 align="center">Book your next adventure with us!</h1>
				<img src="images/Background.png" alt="Background" width="100%" height="auto">
			</div>
		</div>
		{{> footer}}
	</div>
</body>
</html>